html {
    padding: 0;
    margin: 0;
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 0;
}
p {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
img {
    border: none;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-weight: 400;
}
h1{
    font-size: 30px;
    line-height: 34px;
    font-weight: 700;
    color: #000;
    margin-bottom: 50px;
}
strong {
    font-weight: bold;
}
em {
    font-style: italic;
}
form, menu, iframe {
    display: block;
    margin: 0;
    padding: 0;
    border: none;
}
ol, ul, dl, li, dt, dd {
    margin: 0;
    padding: 0;
    list-style: none;
}
table{
    width: 100%;
    border-collapse: collapse;
}
* {
    outline: none;
    font-family: 'Open Sans', sans-serif;
}

/*---------global file-----------------*/
body{
    background-size: cover;
    height: 100vh;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    align-items: center;
    height: 100%;
}
.clock{
    width: 800px;
    height: 800px;
    border-radius: 50%;
    margin: 0 auto;
    background: url("../image/clock.png")no-repeat center center;
    background-size: cover;
    position: relative;
}
.hand{
    width: 50%;
    height: 6px;
    background: #000;
    position: absolute;
    top: 50%;
    transform-origin: 100%;
    transform: rotate(90deg);
    transition-timing-function: cubic-bezier(0.1,2.7,0.58,1);
    /*transition: all .05s;*/
}
.hour-hand{
    height: 10px;
}
